<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>All Records</title>
<style>
table {
	border-collapse: collapse;
	width: 100%;
	margin: 20px auto;
}

th, td {
	border: 1px solid #999;
	padding: 8px 12px;
	text-align: left;
}

th {
	background: #007bff;
	color: #fff;
}
</style>
</head>
<body>
	<h2>All CRUD Records</h2>
	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>User name</th>
				<th>Movie name</th>
				<th>Movie Date</th>
				<th>Movie Time</th>
				<th>Theater name</th>
				<th>Additional Options</th>
				<th>Payment Type</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="crudEntity : ${data}">
				<td th:text="${crudEntity.id}"></td>
				<td th:text="${crudEntity.name}"></td>
				<td th:text="${crudEntity.movieName}"></td>
				<td th:text="${crudEntity.movieDate}"></td>
				<td th:text="${crudEntity.movieTime}"></td>
				<td th:text="${crudEntity.theater}"></td>
				<td th:text="${crudEntity.additionalOptions}"></td>
				<td th:text="${crudEntity.paymentType}"></td>
				<td><a th:href="@{alldetails/edit/{id}(id=${crudEntity.id})}"><button>Edit</button></a>
				<a th:href="@{alldetails/delete/{id}(id=${crudEntity.id})}">
				<button>Delete</button>
				</a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>
